@import './_variables.scss';

.main {
  min-height: calc(100vh - 200px);
  padding: $spacing-xl 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 $spacing-lg;
}

@media (max-width: 480px) {
  .main {
    padding: 1rem 0;
  }
}
