.HeaderContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:#20232a;
  width: 100vw;
  flex-wrap: wrap;
}
.HeaderTittle{
  color: white;
  text-decoration: none;
}
.HeaderInfoDeveloperA{
  text-decoration: none;
}
.HeaderInfoDeveloper{
  margin: 4px;
  color: #61dafb;
}