.HomeContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  width: 100%;
}
.HomeHeaderSearch{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.HomeFilterByName, .HomeSelectRegion{
  margin: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: 5px 5px 20px -10px rgba(0,0,0,0.75);
  padding: 10px;
  outline: none;
  width: 200px;
}
.HomeFilterByName:focus{
  border: 1px solid gray;
}