.Flag-Container{
  border: 1px solid gray;
  width: 300px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: auto;
  height: 380px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}
.Flag-Container .FlagTittle{
  margin: 10px 20px;
}
.Flag-Container .FlagImagenFlag{
  width: 100%;
  height: 200px;
}
.Flag-Informacion-Container{
  margin: 0 20px;
}
.Flag-Informacion-Container p{
  margin: 10px 0px;
}